body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Roboto', sans-serif;
  line-height: 2;

}

h2 {
  padding-bottom: 10px;
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;

}

h3 {
  color: #11999E;
  margin-top: 0;
  padding-top: 25px;
  font-family: 'Roboto', sans-serif;
}
hr {

  border: dotted #769FCD 7px;
  border-bottom: none;
  width: 5%;
  margin: 90px auto;



}
p{
  line-height: 2;
}
a{
  color: #11999E;
  margin: 10px 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}
/************Class selectors*********/
.top-container {
  background-color: #F7FBFC;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #D6E6F2;
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
}

.bottom-container {
  background-color: #B9D7EA;
  position: relative;
  padding: 50px 0 25px;
}
.mainpara {
  padding-bottom: 50px;
  width: 30%;
  margin: auto;
}

.secondpara {
  padding-bottom: 50px;
  width: 100%;
  margin: auto;

}
.footpara {
  padding-bottom: 50px;
}

.copyright {
color: #eaf6f6;
padding-top: 25px ;
font-size: .75rem;
}
.pro {
  text-decoration: underline;
}

.heading {
  display: inline-block;
}

.top-cloud {
  position: absolute;
  top: 100px;
  right: 470px;
}

.bottom-cloud {
  position: absolute;
  left: 470px;
  bottom: 300px;
}

.headshot {
  width: 200px;
  height: 200px;
}
.gif {
  width: 30%;
  float: left;
  margin-right: 30px;
}
.racecar {
  width: 30%;
  float: right;

  }

.skill-row {
  width: 40%;
  margin: 100px auto 100px auto;
  text-align: left;
  overflow:auto;

}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', serif;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-weight: normal;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
